body
{
    margin: 0; /* small gap above is deleted */
}

.container
{
    width: 80%;
    margin: 0 auto; /* data put in the middle of the screen */
}

main
{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    background-color: goldenrod;
}

aside
{
    flex-basis: 30%;
}

article
{
    display: flex;
    flex-basis: 70%;
    min-height: 400px;
    flex-direction: column;
    justify-content: space-between;
}

.image-container
{
    display: flex;
    gap: 1rem;
}

.image-box
{
    display: flex;
    flex-basis: calc(100% / 3);
    justify-content: center;
    align-items: center;
}