aside
{
    float: left;
    width: 30%;
    min-height: 400px;
    margin-bottom: 1rem;
}
article
{
    float: right;
    min-height: 400px;
    width: calc(100% - 30% - 1rem);
    position: relative;
    overflow: hidden;
}
footer
{
    clear: both;
}
main
{
    margin: 1rem 0;
    background-color: yellow;
}
.image-box
{
    float: left;
    margin-right: 1rem;
    width: calc((100% - 10rem) / 3);
}

.image-container
{
    overflow: auto;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 100%;
}