body
{
    margin: 0; /* small gap above is deleted */
}

.container
{
    width: 80%;
    margin: 0 auto; /* data put in the middle of the screen */
}

main
{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

aside
{
    flex-basis: 30%;
}

article
{
    display: grid;
    flex-basis: 70%;
    min-height: 400px;
    align-items: center;
}

.image-container
{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    align-self: end;
}