* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .background {
    background-color: lightgray;
    
  }
  
  #logo {
    margin: 8px 0;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding-left: 20px;
    font-size:20px;
  }
  
  main {
    min-height: 400px;
  }
  
  main nav {
    float: left;
    padding-left: 8px;
    width: 20%;
    min-height: 400px;
  }
  
  main #right {
    float: right;
    width: 80%;
    min-height: 400px;
    text-align: center;
  }
  
  #right header {
    min-height: calc(400px * 20 / 100);
    line-height: calc(400px * 20 / 100);
  }
  
  #right section {
    min-height: calc(200px * 80 / 100 - 12px);
    line-height: calc(400px * 80 / 100 - 12px);
    margin-top: 10px;
    font-size:30px;
  }
  
  footer {
    margin: 12px 0;
    text-align: center;
    min-height: 36px;
    line-height: 36px;
  }