* {
    box-sizing: border-box;
    background-color: lightgray;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    display: grid;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 20px;
    min-height: 60px;
}

header {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: #aaa;
    min-height: 60px;
}

.logo, nav {
    background-color: #aaa;
    font-size: 30px;
    padding: 10px 20%;
}

.logo {
    font-weight: bold;
}

.banner {
    background-color: #aaa;
    text-align: center;
    margin: 10px 0;
    height: 60px;
    padding: 30px 60px; 
    font-size: 30px;
    min-height: 100px;
}

.intro {
    background-color: #aaa;
    padding: 25px 10px;
    margin: 10px 0;
    height: 75px;
    text-align: center;
    font-size: 30px;
}

.content {
    display: grid;
    min-height: 500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.box {
    background-color: #aaa;
    padding: 235px 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

footer {
    background-color: #aaa;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
