.container {
    position: relative;
    width: 100%;
}

.text-block {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: top;
    color: white;
    font-size: 48px;
    font-weight: bold;
    opacity: 0.3;
    background-color: blue;
}