.container {
    position: relative;
    width: 100%;
}

.text-block {
    display: flex;
    position: absolute;
    top: 65%;
    bottom: 0;
    right: 0;
    left: 50%;
    justify-content: center;
    align-items: top;
    color: black;
    font-size: 44px;
    font-weight: bold;
    width: 400px;
    height: 180px;
    background-color: white;
    opacity: 0.6;
}